.pagination-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination-container .download-link{
    position: fixed;
    background-color: #7946C1;
    color: white;
    bottom: 40px;
    padding: 5px;
    border-radius: 40px;
    cursor: pointer;
}

.pagination-container .pagination-button-container{
    bottom: 40px;
    right: 40px;
    position: fixed;
}

.pagination-container button{
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    width: 2rem;
    height: 2rem;
}

.pagination-container .right{
    background-color: #262A41;
}

.pagination-container .left{
    background-color: #E2E2EA;
}