.users-container{
    background-color: #F7F7FF;
    border-radius: 28px;
    width: 50%;
    padding: 10px 40px;
    color: black;
}

.users-heading{
    color: #262A41;
    font-weight: bold;
    font-size: 22px;
}

.users-container .filter{
    font-weight: thin;
    font-size: 15px;
    opacity: .7;
}