.users-container{
    background-color: #F7F7FF;
    border-radius: 28px;
    width: 50%;
    padding: 10px 40px;
    color: black;
    margin: 5px;
}

.users-heading{
    color: #262A41;
    font-weight: bold;
    font-size: 22px;
}

.users-container .filter{
    font-weight: thin;
    font-size: 15px;
    opacity: .7;
}

@keyframes slideout {
    from{
        transform: translateY(0px);
        opacity: 1;
    }
    to{
        transform: translateY(-100px);
        opacity: 0;
    }
}

@keyframes userdetailnudge {
    from{
        transform: translateY(20px);
    opacity: 0.5;   
    }
    to{
        transform: translateY(0px);
    opacity: 1;
    }
}

@keyframes slidein {
    from{transform: translateY(-100px);
    opacity: 0;}
    to{transform: translateY(0px); opacity: 1;}
}

.users-list-container{
    animation-name: slideout;
    animation-duration: 1s;
    animation-fill-mode:forwards;
}

.user-list-container-slidein{
    /* background-color: red; */
    animation-name: slidein;
    animation-duration: 1s;
    animation-fill-mode:backwards;
    /* animation-play-state: paused; */
}
