.App {
  display: flex;
  justify-content: center;
  background-color: #262A41;
  width: 100%;
  color: white;
  height: 100vh;
  padding: 2px;
}




h1{
  font-weight: 200;

}

.welcome-message {
  font-weight: 100;
  opacity: 0.66;
  letter-spacing: 0.23;
  font-size: 18px;
}




.users-control-header{
  letter-spacing: -0.02px;
  font-size: 22px;
  opacity: 0.7;
}


.users-control-container{
  display: flex;
}

.users-control-container > div{
margin-right: 40px;
}


.users-control-container  .control-icon{
  padding: 1rem 1.5rem;
  border-radius: 28px;
  text-align: center;
  font-size: 2.5rem;
}

@keyframes enlarge {
  from{
    transform: scale(1);
  }
  to{
      transform: scale(1.2);
  }
}

@keyframes scaledown {
  from{
    transform: scale(1.2);
  }
  to{
      transform: scale(1);
  }
}

.anime-class{
  animation-name: enlarge;
  animation-duration: .5s;
  animation-fill-mode:forwards;
  transition: transform .3s ease-in;
}

.scaledown-class{
  animation-name: scaledown;
  animation-duration: .5s;
  animation-fill-mode:forwards;
  transition: transform .3s ease-in;
}
.users-control-container p{
  opacity: 0.7;
  font-size: 16px;
  font-weight: medium;
  letter-spacing: -0.02px;
}


.users-control-container  #all-icon-container{
  background-color: #F935A9;
}

.users-control-container  #male-icon-container{
  background-color: #30BBB5;
}

.users-control-container  #female-icon-container{
  background-color: #7946C1;
}
